.carrito-item-container{
    display: grid;
    grid-template-columns: 1fr 8fr .5fr;
    margin: 8px;
    margin-left: 18px;
    border-bottom: 1px solid var(--bg-color)
}
.carrito-item-pic{
    width: 90%;
    margin-bottom: 15px;
    align-items: center;
}

.carrito-item-text{
    margin: 0 18px;
}

.item-carrito-close-button{
    color: var(--secondary-color);
    font-size: 2rem;
    cursor: pointer;
    margin-right: 10px;
}

.item-carrito-close-button:hover{
    color: var(--secondary-color-var);
    transition: all 250ms ease;
}