.navbar {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: rgb(207, 97, 97);
}

.title {
    padding-left: 10px;
}

ul .list{
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    border: #ffffff 1px solid;
    border-radius: 8px;
    margin-right: 10px;
    padding: 4px 4px;
    transition: all 400ms ease;
}
li:hover {
    display: inline;
    border: #ffffff 1px solid;
    border-radius: 8px;
    margin-right: 10px;
    padding: 4px 4px;
    background-color: #ffffff;
}

a {
    color: rgb(255, 255, 255);
    padding: 0 4px;
    text-decoration: none;
}

a:hover {
   color: rgb(207, 97, 97);

  }




