* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: var(--bg-color);
  color: black;
  /* Paleta de colores */
  --primary-color: #de1a1a;
  --secondary-color: #643a71;
  --secondary-color-var: #8b5fbf;
  --terciary-color: #23967f;
  --bg-color: #ededf4;
  /* Transiciones */
  --transition: transition: all 250ms ease;
}

